<div class="container my-4">
<h3>Lista de Productos </h3>
{{#if productos}}

<table class="table my-4">
    <thead class="table-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Titulo</th>
            <th scope="col">Precio</th>
            <th scope="col">Imagen</th>
        </tr>
    </thead>
    <tbody>
        {{#each productos}}
        <tr>
            <th scope="row">{{id}}</th>
            <td> {{title}} </td>
            <td> {{price}}</td>
            <td> <img  style="max-width:34px;" src=  {{thumbnail}} class="img-thumbnail" alt="imagen">
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>



{{else}}
No Hay productos ! 😪

{{/if}}
<button type="button"  class="btn btn-small btn-warning"> <a style="color: inherit; text-decoration:none" href="http://localhost:8080/"> Volver a Productos </a></button>

</div>